blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
crypto
cryptography
dnspython
Flask
Flask-JWT-Extended
idna
itsdangerous
Jinja2
MarkupSafe
Naked
pycparser
PyJWT
pymongo
pyOpenSSL
PyYAML
requests
shellescape
urllib3
Werkzeug
